/* General Rules  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-size: 15px;
}

a {
    all: unset;
    cursor: pointer;
}



/* Header  */

.header-bar {
    background-color: white;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1;
    box-shadow: 0 2px 6px 0 grey;
    padding-right: 20px;
    padding-left: 20px;
}

.header-bar .right-elements, 
.header-bar .left-elements{
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-bar .logo img {
    display: inline-block;
}

.header-bar .links .link {
    display: inline-block;
    padding: 30px 20px;
}

.header-bar .links .link:hover {
    border-bottom: 2px solid black;
}

/* Button Generic Settings  */
.button {
    display: inline-block;
    background-color: #0061fe;
    color: white;
    text-align: center;
}

.button:hover {
    filter: brightness(1.4);
}

.header-bar .button {
    padding: 10px 20px;
}

/* Main 

/* Jumbotron */
.jumbotron {
    text-align: center;
    padding: 0 350px 25px;
    background-color: #b4d0e6;
    margin-bottom: 200px;
}

.jumbo-container {
    position: relative;
    top:100px;
}

.jumbotron h1 {
    font-size: 60px;
    padding-bottom: 60px;
    text-align: left;
}

/* Jumbotron bottom part  */
.jumbotron .jumbo-down {
    display: flex;
}

.jumbotron .jumbo-down .image {
    width: 70%;
}

.jumbotron .jumbo-down .image img {
    width: 100%;
}

.jumbotron .jumbo-down .paragraph {
    width: 30%;
    flex-shrink: 0;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.jumbotron .jumbo-down .paragraph > * {
    margin-bottom: 25px;
}

.jumbo-down .button {
    padding: 20px;
}


.arrow-down {
    font-size: 30px;
    font-weight: bold;
}

.main-centered-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin: 0 400px;
}

/* Business Plan  */
.business-plan {
    text-align: center;
    margin: 0 auto;
}

h2 {
    font-size: 40px;
    margin-bottom: 60px;
    text-align: left;
}

.business-plan .fatturazione {
    display: flex;
    gap: 40px;
}

.business-plan .fatturazione .circle {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 3px solid #ececee;
}


.business-plan .fatturazione .circle.select {
    border: 7px solid blue;
}

/* Box container delle card  */

.business-card {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    margin-bottom: 250px;
}

/* Card settings  */
.card {
   margin-top: 50px;
   border: 1px solid #d0d0d2;
   width: calc((100% - 100px) / 3);
}

.card .usericon {
    display: flex;
    gap: 10px;
    justify-content: center;
    border-bottom: 1px solid #d0d0d2;
    padding: 15px;
    margin-bottom: 40px;
}

.card .plan {
    text-align: left;
    padding: 0px 30px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}

h3 {
    font-size: 25px;
    margin-bottom: 30px;
}


.card .plan .mese {
    color: grey;
    margin-top: 15px;
}

.card .plan ul {
    list-style-type: none;
}
.card .plan .benefit{
    margin-top: 50px;
}

.card .plan li {
    display: flex;
    gap: 10px;
    margin: 15px auto;
}

.card .plan .button {
    width: 100%;
    margin: 30px auto;
    padding-top: 15px;
    padding-bottom: 15px;
}

.card .plan .oppure {
    font-size: 15px;
}

.card .plan .acquista {
    text-decoration: underline;
    color: #0000ee;
}

.line-break {
    border: 1px solid #d0d0d2;
    width: 10%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.card .plan .check {
    color: #0000ff;
}


/* card numero 4  */
.card.card4 {
    width: 100%;
    padding: 0 20px;
}

.card4-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card.card4 h3 {
    margin-bottom: 0px;
}

.card.card4 .button{
    padding: 15px 10px;
}

.card.card4 p {
    margin-top: 50px;
}

/* Partner section  */

.business-plan .partner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 300px;
    gap: 50px;
}

.partner img {
    width: 60%;
    flex-grow: 1;
}

.partner .paragraph {
    margin-top: 80px;
    width: 40%;
    flex-shrink: 0;
    text-align: left;
}

.partner .paragraph .button2 {
    cursor: pointer;
    margin-top: 30px;
    border: 1px solid black;
    padding: 15px;
    max-width: 200px;
    text-align: center;
}

/* Operations grid  */

.operations {
    margin-bottom: 300px;
}
h2 {
    margin-bottom: 100px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.action {
    width: calc((100% - 80px) / 3);
}

.action img {
    align-self: center;
    width: 100%;
}

/* Team section  */
.team {
    margin-bottom: 200px;
}

.team h2 {
    margin-bottom: 60px;
}

.team a {
    text-decoration: underline;
    color: #0000ee;
}

/* Footer  */

footer {
    background-color: black;
    color: white;
    border-left: 3px solid white;
    padding-left: 300px;
    padding-right: 300px;
    padding-bottom: 50px;
}

.footer-links {
    display: flex;
    gap: 50px;
    padding-top: 100px;
    padding-bottom: 100px;
}

footer .footer-list {
   width: calc((100% - 250px) / 5);
}

footer ul {
    list-style-type: none;
}

footer li {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
}
footer .line-break {
    color: #d0d0d2;
    margin-bottom: 30px;
}

footer .language {
    color: #d0d0d2;
}
footer .language .hearth {
    margin-right: 5px;
}