/* General Rules  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.open-sans-<uniquifier> {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }


body {
    font-family: "Open Sans", serif;
}

a {
    all: unset;
    cursor: pointer;
}



/* Header  */

.header-bar {
    padding: 25px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header-bar .left-elements .logo {
    align-content: center;
}

.header-bar .right-elements, 
.header-bar .left-elements{
    display: flex;
    gap: 20px;
}

.header-bar .links .link {
    padding: 30px 20px;
}

.header-bar .links .link:hover {
    border-bottom: 2px solid black;
}

/* Button Generic Settings  */
.button {
    background-color: #0061fe;
    color: white;
    text-align: center;
}

.button:hover {
    background-color: #4d8cf2;
}

.header-bar .button {
    padding: 10px 20px;
}

/* Main 

/* Jumbotron */
.jumbotron {
    text-align: center;
    padding: 120px 350px 25px;
    background-color: #b4d0e6;
    margin-bottom: 200px;
}

.jumbotron h1 {
    font-size: 80px;
    padding-bottom: 60px;
    text-align: left;
}

/* Jumbotron bottom part  */
.jumbotron .jumbo-down {
    display: flex;
}

.jumbotron .jumbo-down .paragraph {
    width: 400px;
    flex-shrink: 0;
    text-align: left;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.jumbotron .jumbo-down .paragraph .p-element {
    margin-bottom: 20px;
}

.jumbo-down .button {
    padding: 15px;
}

.jumbotron .jumbo-down .image {
    position: absolute;
    left: 800px;
    top: 550px
}
.jumbotron .jumbo-down .image img {
  max-width: 1000px;
}

.arrow-down {
    font-size: 50px;
    font-weight: bold;
    margin-top: 80px;
}

.main-centered-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin: 0 400px;
}

/* Business Plan  */
.business-plan {
    text-align: center;
    margin: 0 auto;
}

h2 {
    font-size: 40px;
    margin-bottom: 60px;
    text-align: left;
}

.business-plan .fatturazione {
    display: flex;
    gap: 40px;
}

.business-plan .fatturazione .circle {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 3px solid #ececee;
}


.business-plan .fatturazione .circle.select {
    border: 7px solid blue;
}

/* Box container delle card  */

.business-card {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    margin-bottom: 250px;
}

/* Card settings  */
.card {
   margin-top: 50px;
   border: 1px solid #d0d0d2;
   width: calc((100% - 100px) / 3);
}

.card .usericon {
    display: flex;
    gap: 10px;
    justify-content: center;
    border: 1px solid #d0d0d2;
    padding: 15px;
    margin-bottom: 40px;
}

.card .plan {
    text-align: left;
    padding: 0px 30px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}

h3 {
    font-size: 30px;
    margin-bottom: 30px;
}

.card .plan .mese {
    color: grey;
    margin-top: 15px;
    margin-bottom: 50px;
}

.card .plan ul {
    list-style-type: none;
    font-size: 20px;
}

.card .plan li {
    display: flex;
    gap: 10px;
    margin: 15px auto;
}

.card .plan .button {
    padding: 15px 25px;
    margin: 30px auto;
    font-size: 15px;
}

.card .plan .oppure {
    font-size: 20px;
}

.card .plan .acquista {
    text-decoration: underline;
    color: #0000ee;
}

.card .plan .line-break {
    border: 2px solid #d0d0d2;
    width: 15%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.card .plan .check {
    color: #0000ff;
}


/* card numero 4  */
.card.card4 {
    width: 100%;
}

.card4 .card4-flex {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}


/* Partner section  */

.business-plan .partner {
    display: flex;
    justify-content: center;
    margin-bottom: 300px;
    
}

.partner img {
    max-width: 600px;
    flex-grow: 1;
    margin-right: 50px;
}

.partner .paragraph {
    margin-top: 80px;
    width: 40%;
    flex-shrink: 0;
    text-align: left;
}

.partner .paragraph .button2 {
    margin-top: 30px;
    border: 1px solid black;
    padding: 15px;
    max-width: 200px;
    text-align: center;
}
